body {
    text-align: center;
}

button,#form input[type='submit'] {
    background-color: red;
    padding: 20px 45px;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black; /* Fixed spacing */
    transition: 0.5s; /* Fixed transition time */
    cursor: pointer;
}

button:hover, #form input[type='submit']:hover {
    background-color: #262626;
}

#form {
    width: 90%;
    padding: 3%;
}

#form label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
}

#form input {
    width: 90%;
    padding: 10px 4%;
}

#form textarea {
    width: 90%;
    padding: 10px 4%;
}
#form input[type='submit'] {
    width: 100%;
    padding: 10px 4px;
    margin-top: 5px;
}
